<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<title>Tasks</title>
</head>
<body>
	<h1>Task list</h1>

	<table>
		<tr>
			<td><strong>Task ID</strong></td>
			<td><strong>Task title</strong></td>
			<td><strong>Task description</strong></td>
			<td><strong>Task creation date</strong></td>
			<td><strong>Task due date</strong></td>
			<td><strong>Task completed on</strong></td>
			<td><strong>Assigned user</strong></td>
			<td><strong>User's email</strong></td>
		</tr>
	{% for item in tasks %}
		<tr>
			<td>{{  item.id  }}</td>
			<td>{{  item.title  }}</td>
			<td>{{  item.description  }}</td>
			<td>{{  item.created_at  }}</td>
			<td>{{  item.due_date  }}</td>
			<td>{{  item.completed_date  }}</td>
			<td>{{  item.user_id  }}</td>
			<td>{{  users[item.user_id]  }}</td>
		</tr>
	{% endfor %}
	</table>
</body>
</html>