{% extends "header.html" %}
{% block title %}Tasks{% endblock %}

{% block content %}

	<h1>Task list</h1>

	<table>
		<tr>
			<td><strong>Task ID</strong></td>
			<td><strong>Task title</strong></td>
			<td><strong>Task description</strong></td>
			<td><strong>Task creation date</strong></td>
			<td><strong>Task due date</strong></td>
			<td><strong>Task completed on</strong></td>
			<td><strong>Assigned user</strong></td>
		</tr>
	{% for item in tasks %}
		<tr>
			<td>{{  item.id  }}</td>
			<td>{{  item.title  }}</td>
			<td>{{  item.description  }}</td>
			<td>{{  item.created_at  }}</td>
			<td>{{  item.due_date  }}</td>
			<td>{% if item.completed_at %}
					{{  item.completed_at  }}
				{% else %}
					<form action="{{ url_for('complete_task') }}" method="post">
						<input type="hidden" name="task_id" value="{{  item.id  }}">
						<input type="submit" value="Done!">
					</form>
				{% endif %}
			</td>
			<td>{{  item.user_id  }}</td>
		</tr>
	{% endfor %}
	</table>

{% endblock %}